.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.ArticlesHeader {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.ArticleItems {
  position: relative;
  width: 60%;
  list-style-type: none;
  list-style-position: inside;
  border: 1px solid black;
  margin: 10px auto;
  padding: 0px;
  height: auto;
}

.articleBody {
  position: relative;
  width: 50%;
  border: 1px solid black;
  height: auto;
  margin: 0px auto;
  padding: 10px;
}

.voteCounter {
  position: relative;
  right: 40%;
  top: 300%;
}

.Author {
  position: relative;
  bottom: 50%;
}

.CommentCount {
  position: relative;
  bottom: 80%;
}

.Topics {
  position: relative;
}

.Date {
  position: relative;
  left: 30%;
}
